*.o
*.lo
*.stamp
*.log
*.tmp
*.gmo
*.cache
*.status
*.a
*.la
*.info
*POTFILES
*.deps/
*.libs/
/.vscode
/*_history
Makefile
bfd/Makefile
bfd/config.h
bfd/doc/Makefile
bfd/libtool
bfd/po/Makefile
bfd/po/Makefile.in
bfd/stamp-h1
bfd/stamp-lib
bfd/stamp-ofiles
etc/Makefile
gdb/config.h
gdb/cuda-parser.lex.c
gdb/cuda-parser.tab.c
gdb/cuda-parser.tab.h
gdb/data-directory/stamp-guile
gdb/data-directory/stamp-python
gdb/data-directory/stamp-syscalls
gdb/data-directory/stamp-system-gdbinit
gdb/gdb-gdb.py
gdb/gdbserver/config.h
gdb/init.l-tmp
gdb/stamp-init
gdb/stamp-version
gdb/stamp-xml
include/cuda.h
intl/Makefile
intl/config.h
intl/config.intl
libcudacore/Makefile
libdecnumber/Makefile
libdecnumber/config.h
libdecnumber/stamp-h1
libiberty/Makefile
libiberty/config.h
libiberty/stamp-h
libiberty/stamp-noasandir
libiberty/stamp-picdir
libiberty/testsuite/Makefile
opcodes/Makefile
opcodes/config.h
opcodes/libtool
opcodes/po/Makefile
opcodes/po/Makefile.in
opcodes/stamp-h1
opcodes/stamp-lib
readline/Makefile
readline/config.h
readline/doc/Makefile
readline/examples/Makefile
readline/shlib/Makefile
readline/stamp-h
sim/Makefile
sim/testsuite/Makefile
zlib/Makefile
zlib/libtool
